//variables 

//colors static
$colorBlack: #000;
$colorLight: #f7eff1;
$colorPink: #ffabab;
$colorMint: #c6e5b1;

//colors dynamic

$colorPrimary: $colorPink;
$colorSecondary: $colorLight;
$colorTertiary: $colorMint;
$colorFont: $colorBlack;

// fonts
$font-family-subtitle: amaranth;
$font-family-title: julian;
$font-fanily-description: oswald;
$font-path: "../fonts";