@import '../../styles/variables';

.main {
  padding-top: 10px;
  background-color: $colorPink;
  height: 470px;
  text-align: center;

  &__box {
    display: flex;
  }
  &__item {
    flex: 0 0 30%;
  }
} 

.sectionTitle {
  margin: 10px auto;
  text-align: center;
  font-size: 2.2em;
  text-transform: uppercase;
  font-weight: 700;
}
.card {
  padding: 20px;
  height: 370px;
  border-radius: 50%; 
  background-color: $colorLight;
  margin: 0 20px;
  box-shadow: 0 0 10px $colorLight;
  overflow: hidden;
  

  &__title {
    font-family: julian, sans-serif;
    line-height: 1.6em;
    margin: 0 auto;
    width: 250px;
    font-size: 1.6em;
  }
  &__photo {
    margin: 12px auto 7px;
    img {
      height: 150px;
    }
  }
  &__description {
    text-align: center;
    line-height: 1.1em;
    font-size: 1.2em;
    width: 300px;
    margin: 0 auto;
  }
}

.container {
  font-family: mongolian, sans-serif;
  max-width: 1300px;
  margin: 0 auto;
}