product.product
  .container 
    .product__box
      .product__card
        .product__title.sectionTitle Nombre del producto elegido 
        .product__row 
          .product__photo Foto del producto elegido
          .product__description Maxima suavidad e hidratación Lorem ipsum isicing elit. Perspiciatis atque, necessitatibus fuga enim unde totam consit. Perspiciatis atque, necessitatibus fuga enim unde totam consectetur rem quia voluptate provident! Lorem ipsum dolor sit amet, consectte provident! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat eum est consequuntur voluptate nostrum blanditiis excepturi atque, expedita aliquam assumenda.
        .product__price.sectionTitle 
          p Precio: 
          p.price 80$
