header.header
  .container    
    img.header__logo.logo(src=require("../../images/logoPinkMod.png"), alt="logo") 
    .header__subtitle "Cuidate, Consientate, Enamorate de ti..."
    .header__title JABONES ARTESANALES MARGARITA
    nav.header__nav 
      ul.header__list 
        li.header__item 
          a(href="./index.html") Misión
        li.header__item  
          a(href="#products") Productos
        li.header__item  
          a(href="#opinions") Opiniones
        li.header__item  
          a(href="#contacts") Contactos
    nav.header__nav_burger
      .burger__inner  