header.header
  .container    
    img.header__logo.logo(src=require("../../images/logo1yellow.png"), alt="logo") 
    .header__subtitle "Cuidate, Consientate, Enamorate de ti..."
    .header__title JABONES ARTESANALES MARGARITA
    nav.header__nav 
      ul 
        li.header__item 
          a(href="#") Misión
        li.header__item  
          a(href="#") Productos
        li.header__item  
          a(href="#") Opiniones
        li.header__item  
          a(href="#") Contactos  