@import '../../styles/variables';


.footer {
  background-color: $colorPink;
  padding: 15px 0;
  position: relative;
  &__logo {
    position: absolute;   
    img {
      margin: 7px auto;
      width: 100px;
      
    }
  }
  
  &__title {

  }

  &__row {
    display: flex;
    margin:25px 0 35px;
    justify-content: center;
  }

  &__item {
    flex: 0 0 17%;
    margin: 0 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
  }

} 
