footer.footer
  .container 
    nav.footer__nav 
      ul 
        li.footer__item  
          a(href="#") Misión
        li.footer__item 
          a(href="#") Productos
        li.footer__item 
          a(href="#") Opiniones
        li.footer__item 
          a(href="#") Contactos  