.opinions
  .container
    .opinions__title.sectionTitle Opiniones de nuestros clientes
    //Slider main container
    .swiper
      //Additional required wrapper
      .swiper-wrapper
        //Slides
        .swiper-slide
          p.swiper-opinion EXCELENTE PRODUCTO 100 % RECOMENDABLE ME ENCANTA EL JABON DE PEPINO CON MIEL Y LA CREMA FACIAL ES BUENISIMA
          p.swiper-client WENDY HERNANDEZ
          p.swiper-city CIUDAD TORREON COAH
        .swiper-slide
          p.swiper-opinion TODA LA VARIEDAD DE JABONES ES EXEPCIONAL TODOS ME ENCANTAN, LLEVO 2 AÑOS APLICANDOME ESTE JABON Y LA VERDAD ME HAN DICHO QUE MI PIEL SE VE RADIANTE. LA CREMA TAMBIEN HA SIDO DE GRAN AYUDA PORQUE SOLIA TENER MARCAS DE ACNE Y HOY PUEDO DECIR QUE HAN DESAPARECIDO.
          p.swiper-client OLGA DE LA GARZA
          p.swiper-city cancun, mexico
        .swiper-slide
          p.swiper-opinion HICE UN PEDIDO DE JABONES PARA LOS INVITADOS DE MI BODA, PRESISAMENTE PORQUE ESTOY MARAVILLADA CON ESTOS PRODUCTOS; LA CREMA ME ENCANTA LA PUEDO USAR DE DIA Y DE NOCHE AL IGUAL LOS JABONES,  E TENIDO CAMBIOS SORPRENDENTES EN MI ROSTRO. 
          p.swiper-client LUCIA RUBIO
          p.swiper-city CIUDAD TORREON COAH
        .swiper-slide
          p.swiper-opinion ESTOY ENCANTADA CON EL JABON DE ROMERO, MI PIEL ESTABA MUERTA,  MI CUTIS RESECO Y DESDE QUE EMPECE A PROBAR ESTE JABON E VUELTO A TENER HIDRATADA MI PIEL. LA CREMA NO LA HE PROBADO PERO DESEO PRONTO HACER MI PEDIDO.
          p.swiper-client OLIVIA MARTINEZ
          p.swiper-city SAN PEDRO COAH
        .swiper-slide
          p.swiper-opinion HACE TIEMPO SENTI LA NECESIDAD DE COMPRAR UN PRODUCTO A BAJO COSTO Y QUE CUMPLIERA CON MIS EXPECTATIVAS. DESDE QUE USO EL JABON DE MIEL, PUEDO NOTAR UNA GRAN DIFERENCIA EN MI CARA. LA CREMA TAMBIEN HA SIDO DE MUCHA AYUDA. AMPLIAMENTE RECOMIENDO ESTOS PRODUCTOS. 
          p.swiper-client DARY VILLAREAL
          p.swiper-city TORREON COAH
      //If we need pagination
      .swiper-pagination
    //If we need navigation buttons
  .swiper-button-prev
  .swiper-button-next